<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Assignment.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BF661E5C212BA61200D7B6BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF661E70212BA61300D7B6BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF661E7B212BA61300D7B6BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
